html,
body {
  color: #323747;
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  /* background-color: #f2f6f3; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #323747;
}

button {
  cursor: pointer;
}

.container {
  width: 92%;
  margin: 0 auto;
}

input:-internal-autofill-selected {
  background-color: yellow !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

:focus {
  outline: none;
}
